.container{
  padding: 0 14px;
  color: #fff;
}

.center{
  text-align: center;
  margin-bottom: 14px;
}

.content{
  background-color: #242427;
  margin: 24px auto;
  padding: 24px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 900px;
  border-radius: 14px ;
  gap: 5px;
}

.name{
 font-size: 25px;
 align-self: center;
 font-weight: bold;
 color: #4fc3f7;
}

.Logo{
  width: 70px;
  height: 70px;
  transition: all 1s;
  align-self: center;
}

.Logo:hover{
  transform: rotate(360deg);
}

.profit{
  color: #55b02e;
  font-weight: bold;
}

.loss{
  color: #d02f2f;
  font-weight: bold;
}





.chartContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
  }